<p>Your order costs <%= @sum %></p>

<%= button_to "Confirm", action: "finalize_order", params: {order: @menu_vals} %>
<%= link_to "tip: 10%", action: "tip", params: {order: @menu_vals, tip: 0.1} %>
<%= link_to "tip: 15%", action: "tip", params: {order: @menu_vals, tip: 0.15} %>
<%= link_to "tip: 20%", action: "tip", params: {order: @menu_vals, tip: 0.2} %>
<%= link_to 'Back', menu_item_confirm_order_path %>