<p id="notice"><%= notice %></p>

<h1>Menu</h1>

<%= form_tag(menu_item_confirm_order_path, method: :get) do %>
  <%= render 'table', menu_item: @menu_items, title: "Appetizer", category: "appetizer" %>

  <br>

  <%= render 'table', menu_item: @menu_items, title: "Entrees", category: "main_course" %>

  <br>

  <%= render 'table', menu_item: @menu_items, title: "Dessert", category: "dessert" %>

  <br>

  <%= render 'table', menu_item: @menu_items, title: "Sides", category: "side" %>
  <%= submit_tag("Submit") %>
<%end%>
<br>